@font-face {
  font-family: "roboto-bold";
  src: url("src/fonts/roboto/roboto-bold.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("src/fonts/roboto/roboto-medium.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("src/fonts/roboto/roboto-regular.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("src/fonts/roboto/roboto-light.ttf");
}

@font-face {
  font-family: "roboto-thin";
  src: url("src/fonts/roboto/roboto-thin.ttf");
}