// Colors
$primary: #0397D3;
$accent: #38C976;
$white: #ffffff;
$light: #9c9c9c;
$dark: #333333;
$light-background: #f1f2f4;

// Font Family
$roboto-bold: "roboto-bold";
$roboto-medium: "roboto-medium";
$roboto-regular: "roboto-regular";
$roboto-light: "roboto-light";
$roboto-thin: "roboto-thin";

// Z Index
$z-index-low: 1000;
$z-index-medium: $z-index-low + 20;
$z-index-high: $z-index-medium + 20;
